<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/members.css' %}">
    <title>Members</title>
</head>
<body>
    <nav>
        <img src="/static/images/logo.png">
        <div class="div">
            <a href="https://spoc.com.ng/"><li>Home</li></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://spoc.com.ng/about/"><li>About</li></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://spoc.com.ng/contact/"><li>Contact</li></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://spoc.com.ng/membership/"><li>Membership</li></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href=""><li>Members</li></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="div1"></div>
            <div class="div2"></div>
            <div class="div3"></div>
            <div class="div4"></div>
            <div class="div5"></div>
        </div>
        <div class="menuwrapper">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <form name="form" id="formy">
            <input type="checkbox" class="checkbox" id="tick">
            <div class="menu">
                <div onclick="tickall(document.form.tick)"><a href="https://spoc.com.ng/"><p>Home</p></a></div>
                <div onclick="tickall(document.form.tick)"><a href=""><p>About</p></a></div>
                <div onclick="tickall(document.form.tick)"><a href=""><p>Contact</p></a></div>
                <div onclick="tickall(document.form.tick)"><a href=""><p>Membership</p></a></div>
                <div onclick="tickall(document.form.tick)"><a href=""><p>Members</p></a></div>
            </div>

        </form>
    </nav>
    <div class="content">
            <h1>members</h1>
            <a href="{% url 'populate' %}" target="_blank"><img src="/static/images/logo.png" class="popp" ></a> 
    </div>
     <form action="{% url 'search' %}" method="POST" class="search">
        {% csrf_token %}
        <input type="search" placeholder="Search name" class="sear" name="searched">
        <br>
        <br>
        <button class="button">Search</button>
    </form>
   <table border="1">
       <tr>
           <th>S/N</th>
           <th>FullName</th>
           <th>Gender</th>
           <th>Spon Number</th>
           <th>Phone Number</th>
           <th>State</th>
           <th>Local Government</th>
           <th >Status</th>
       </tr>
       {% for mem in member %}
            <tr>
                <td class="sn">{{forloop.counter}}</td>
                <td>{{mem.FullName}}</td>
                <td>{{mem.Gender}}</td>
                <td>{{mem.SponNo}}</td>
                <td>{{mem.PhoneNo}}</td>
                <td>{{mem.State}}</td>
                <td>{{mem.LocalGov}}</td>
                {% if mem.Status == "confirm" %}
                    <td class="stat1">{{mem.Status}}</td>
                {% elif  mem.Status == "suspended" %}
                    <td class="stat2">{{mem.Status}}</td>
                {% elif mem.Status == "dismissed" %}
                    <td class="stat3">{{mem.Status}}</td>
                {% elif mem.Status == "pending" %}
                    <td class="stat4">{{mem.Status}}</td>    
                {% endif %}    
            </tr>
       {%endfor%}    
    </table>
    <script type="text/javascript" src="{% static 'js/populate.js' %}"></script>
</body>
</html>