::selection{
    background-color: #7409a0;
    color: white;
}
body{
    box-sizing: border-box;
}
.twrapper::-webkit-scrollbar{
    background-color: white;
    border-radius: 20px;
    width: 10px;
    height: 10px;
}
.twrapper::-webkit-scrollbar-button{
    background-color: black;
    border-radius:20px ;
    color: aliceblue;
}
.twrapper::-webkit-scrollbar-thumb{
    width: 20px;
    background-color: rgba(116, 9, 160, .9);
}

@media (min-width: 320px) and (max-width:550px){
    .nav>img{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 100px;
        width: 100px;

    }
    .div{
       display: none;
    }
    .menuwrapper{
        height: 1.7em;
        width: 1.7em;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 3px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .menuwrapper>div{
        background-color: black;
        height: 0.3em;
        border-radius: 20px;
        
    }
    .checkbox{
        height: 2em;
        width: 2.3em;
        position: absolute;
        top: 9.4em;
        left: 49%;
        transform: translateX(-49%);
        opacity: 0;
    }
    .checkbox:checked+.menu{
        display: block;
    }
    .menu{
        position: absolute;
        top: 10em;
        display: none;
        z-index: 1;
        background-color: white;
    }
    .menu>div>a{
        text-decoration: none;
        color: black;
        font-family: sans-serif;
    }
    .menu>div{
        height: 30px;
        width: 100vw;
        padding: 6px;
        padding-bottom: 20px;  
    }
    .menu>div:nth-child(odd):active, .menu>div:nth-child(even):active{
        background-color: rgb(54, 53, 53);
        color: white;
    }
    .menu>div>a:nth-child(odd):active, .menu>div>a:nth-child(even):active{
        background-color: rgb(54, 53, 53);
        color: white;
    }
    .menu>div:nth-child(odd):hover, .menu>div:nth-child(even):hover{
        background-color: rgb(45, 45, 46);
        color: white;
    }
    .menu>div>a:nth-child(odd):hover, .menu>div>a:nth-child(even):hover{
        background-color: rgb(45, 45, 46);
        color: white;
    }
    .content{
        margin-top: 20px;
        height: 8em;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        color: white;
        background-color: #7409a0;
        padding: 10px 0 10px 0;
    }
    .popp{
        margin-top: 10px;
        height: 5rem;
        width: 5rem;
        position: relative;
        bottom: 1.5em;
        cursor: default;
    }
    .search{
        margin-top: 1em;
    }
    .sear{
        border: solid 2px #7409a0;
        height: 30px;
        width: 200px;
    
    }
    .button{
        background-color: #7409a0;
        color: white;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;
    }
    .twrapper {
       max-height: 400px;
       overflow-y: auto;
       width: 100%;

   }
    table{
        text-align: justify;
        font-size: 11px;
        border: none;
        border-collapse: collapse;
        width: 100%; 
    }
    .warning{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        font-size: 10px;
        text-align: center;
        font-weight: bolder;
        color: red;
        animation: warning 0.5s infinite alternate-reverse;
        text-transform: uppercase;
    }
    @keyframes warning {
        from{
            color: red;
        }
        to{
            color: black;
        }
    }
    .sn{
        text-indent: 20px;
        list-style-type: decimal;
    }
    th{
        background-color: purple;
        color: white;
        text-align: center;
    }
    tr:nth-child(odd){
        background-color: rgb(233, 124, 243);
    }
    .result{
        text-align: center;
        text-transform: capitalize;
        font-size: 5em; 
    }
    .resultTable{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 80em;
        text-align: justify;
        border: none;    
    }
    .notFound{
        position: absolute;
        top: 250px;
        left: 50%;
        transform: translateX(-50%);
        text-align: justify;
        text-transform: uppercase;
        font-size: 20px;
        border: none;   
    } 
    .form{
        position: absolute;
        top: 70%;
        left: 43%;
        transform: translate(-43%, -70%);
        width: 200px;
        padding: 20px;
    }
    .input{
        width: 400px;
        height: 30px;
    }
    .edit{
        position: absolute;
        bottom: 30px;
        left: 900px;
        height: 30px;
        background-color: #7409a0;
        color: white;
        padding-top: 10px;
        border-radius: 10px;
        border: solid 2px black;
        text-transform: capitalize;

    }
    .editM{
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translate(-50%);
        width: 80em;
        text-align: justify;
        border: none;
    }
    .search2{
        position: absolute;
        top: 100px;
        left: 100px;
        width: 200px;
    }
    .stat1{
        color:rgb(11, 247, 11);
        font-weight: 700;
    }
    .stat2{
        color: orange ;
        font-weight: 700;
    }
    .stat3{
        color: red;
        font-weight: 700;
    }
    .stat4{
        color: black;
        font-weight: 700;
    }
    footer{
        height: 40px;
        width: 100%;
        color: white;
        text-align: center;
        font-weight: bolder;
        font-family: sans-serif;
        background-color: #7409a0;
        padding-top: 30px;
        margin-top: 50px;
    } 
    
}
@media (min-width:551px){
    .nav{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .nav>img{
        position: relative;
        left: 100%;
        transform: translate(-100%);
    }
    .divmenu{
        display: flex;
        flex-direction: row;
        justify-content: right;
        padding-top: 20px ;
    }
    .menuwrapper{
        display: none;
    }
    #formy{
        display: none;
    }
    .divmenu>a{
        text-decoration: none;
    }
    .divmenu>a>li{
        color: black;
        font-size: 17px;
        font-family: sans-serif;
        font-weight: 600;
        list-style-type: none;
    }
    .div1{
        width: 90px;
        height: 3px;
        background-color: green;
        position: absolute;
        right: 28%;
        top: 6em;
        transform: translateX(-28%);
        display: none; 
    }
    .div2{
        width: 90px;
        height: 3px;
        background-color: green;
        position: absolute;
        right: 23%;
        top: 6em;
        transform: translateX(-23%);
        display: none;
        
    }
    .div3{
        width: 90px;
        height: 3px;
        background-color: green;
        position: absolute; 
        right: 17%;
        top: 6em;
        transform: translateX(-17%); 
        display: none;
    }
    .div4{
        width: 90px;
        height: 3px;
        background-color: green;
        position: absolute;
        right: 10%;
        top: 6em;
        transform: translateX(-10%);
        display: none;
    }
    .div5{
        width: 90px;
        height: 3px;
        background-color: green;
        position: absolute;
        right: 2%;
        top: 6em;
        transform: translateX(-2%);
        display: none;
        
    }
    .divmenu>a:first-child:hover ~.div1{
        display: block;
    }
    .divmenu>a:nth-child(2):hover ~.div2{
        display: block;
    }
    .divmenu>a:nth-child(3):hover ~.div3{
        display: block;
    }
    .divmenu>a:nth-child(4):hover ~.div4{
        display: block;
    }
    .divmenu>a:nth-child(5):hover ~.div5{
        display: block;
    }
    .divmenudiv>a:nth-child(6):hover ~.div6{
        display: block;
    }
    .content{
        margin-top: 20px;
        height: 8em;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        color: white;
        background-color: #7409a0;
        padding: 10px 0 10px 0;
    }
    .popp{
        margin-top: 10px;
        height: 5rem;
        width: 5rem;
        position: relative;
        bottom: 1.5em;
        cursor: default;
    }
    .search{
        margin-top: 1em;
    }
    .sear{
        border: solid 2px #7409a0;
        height: 30px;
        width: 200px;
    
    }
    .button{
        background-color: #7409a0;
        color: white;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;
    }
    .twrapper {
       max-height: 400px;
       overflow-y: auto; 
       width: 100%;

   }
    table{
        text-align: justify;
        border: none;
        border-collapse: collapse;
        width: 100%; 
    }
    .warning{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        font-size: 17px;
        font-weight: bolder;
        text-align: center;
        color: red;
        animation: warning 0.5s infinite alternate-reverse;
        text-transform: uppercase;
    }
    @keyframes warning {
        from{
            color: red;
        }
        to{
            color: black;
        }
    }
    .sn{
        text-indent: 20px;
        list-style-type: decimal;
    }
    th{
        background-color: purple;
        color: white;
        text-align: center;
    }
    tr:nth-child(odd){
        background-color: rgb(233, 124, 243);
    }
    .result{
        text-align: center;
        text-transform: capitalize;
        font-size: 5em; 
    }
    .resultTable{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 80em;
        text-align: justify;
        border: none;    
    }
    .notFound{
        position: absolute;
        top: 250px;
        left: 50%;
        transform: translateX(-50%);
        text-align: justify;
        text-transform: uppercase;
        font-size: 20px;
        border: none;   
    } 
    .form{
        position: absolute;
        top: 70%;
        left: 43%;
        transform: translate(-43%, -70%);
        width: 200px;
        padding: 20px;
    }
    .input{
        width: 400px;
        height: 30px;
    }
    .edit{
        position: absolute;
        bottom: 30px;
        left: 900px;
        height: 30px;
        background-color: #7409a0;
        color: white;
        padding-top: 10px;
        border-radius: 10px;
        border: solid 2px black;
        text-transform: capitalize;

    }
    .editM{
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translate(-50%);
        width: 80em;
        text-align: justify;
        border: none;
    }
    .search2{
        position: absolute;
        top: 100px;
        left: 100px;
        width: 200px;
    }
    .stat1{
        color:rgb(11, 247, 11);
        font-weight: 700;
    }
    .stat2{
        color: orange ;
        font-weight: 700;
    }
    .stat3{
        color: red;
        font-weight: 700;
    }
    .stat4{
        color: black;
        font-weight: 700;
    }
    footer{
        height: 40px;
        width: 100%;
        color: white;
        text-align: center;
        font-weight: bolder;
        font-family: sans-serif;
        background-color: #7409a0;
        padding-top: 30px;
        margin-top: 50px;
    } 
} 




